@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600);

/* colors */

/*

dark-grey:   #2a303c;
light-green: #80bd01;
dark-green:  #578300
blue:        #6ea2c9;

*/

/* reset */
* {
  margin: 0;
}

/* nav */
nav {
  background-color: #578300;
}

nav ul li {
  color: white;
  display: inline-block;
}

@media (max-width: 48em) {
  nav ul li {
    display: block;
    border-top: 1px solid white;
  }

  nav .pull-left, nav .pull-right {
    float: none;
  }
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1.4em .7em;
  height: 1.5em;
  position: relative;
}

nav .active a::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: .7em solid transparent;
  border-bottom-color: white;
  position: absolute;
  bottom: 0em;
  left: 50%;
  margin-left: -0.7em;
}

nav .mobile-trigger {
  display: none;
  color: #fff;
  margin: 0;
}

/* sections */
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.container--narrow {
  width: 60%;
}

@media (max-width: 48em) {
  .container--narrow {
    width: 100%;
  }
}

.page-footer {
  background: #2a303c;
  color: white;
  padding-top: 3em;
  padding-bottom: 1.4em;
  margin-top: 1.4em;
  font-size: .8em;
}

.btn {
  border: none;
  display: inline-block;
  background-color: #578300;
  color: white;
  font-size: 1em;
  padding: .7em 1em;
  cursor: pointer;
  margin: 10px 0;
}

.btn:hover {
  background-color: #73aa00;
}

.calls-to-action .btn {
  margin: 5px;
}

img {
  width: 100%;
}

.col-4 img {
  max-height: 300px;
}

/* grid */
.row {
  display: table;
  table-layout: fixed;
  margin: 0 -.7em;
}

.col {
  display: table-cell;
  width: 1%;
  padding: .7em;
  vertical-align: top;
}

.col-4 {
  display: table-cell;
  padding: .7em;
  width: 25%;
}

address {
  white-space: pre;
}

.event {
  border: 1px solid #6ea2c9;
  float: left;
  display: inline;
  min-width: 28%;
  text-align: center;
  padding-bottom: 25px;
  margin: 10px;
}

a .event:hover {
  border: 1px solid #6ea2c9;
  color: #2a303c;
  background-color: #6ea2c9;
}

a .event:hover .date {
  color: white;
}

section {
  padding: 10px 0;
}

#apply {
  background-color: #6ea2c9;
}

#sponsors img {
  width: 60%;
}

#details {
  /* background: url(../images/socks.jpg) no-repeat; */
  background-color: #6ea2c9;
  /* background-size: cover; */
  color: white;
  padding: 150px;
}

#details h2 {
  color: white;
}

#details > div {
  padding: 5px 10px 20px 10px;
  background-color: rgba(42,48,60,.7);
}


.sponsor {
  margin: 10px;
}

/* type */

html {
  font-size: 110%;
  line-height: 1.4em;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  margin-bottom: .7em;
}

h1, h2, h3 {
  line-height: 1.2em;
  margin-top: 1.2em;
  margin-bottom: .6em;
}

.logo {
  font-family: 'Pacifico', sans-serif;
  font-weight: normal;
}
.main-logo {
  font-size: calc( 40px + (120 - 40) * ( (100vw - 320px) / ( 1180 - 320) ));
}

.subtitle {
  font-size: 1.5em;
  color: #80bd01;
  font-weight: normal;
}

@media (min-width: 48em){
  .subtitle {
    margin-top: 0;
  }
}

h1 {
  margin-top: 0.5em;
  font-size: 120px;
}

h2 {
  color: #2a303c;
}

.jumbo h2 {
  color: white;
}

.brought-to-you {
  text-align: center;
}


@media (max-width: 48em){
  .event {
    min-width: calc(100% - 22px);
  }
}

@media (min-width: 48em){
  .brought-to-you {
    text-align: left;
    position: relative;
    left: 60%;
    top: -40px;
    display: inline;
  }
}

@media (min-width: 85em){
  .brought-to-you {
    margin-top: -10px;
    text-align: center;
    position: static;
    font-size: 1.5em;
  }
}

.brought-to-you h2 {
  font-size: 1.17em;
  display: inline;
}

#npm {
  position: relative;
  left: 5px;
  bottom: -8px;
  width: 10%;
}

a {
  color: #6ea2c9;
  text-decoration: none;
}

.date {
  color: #80bd01;
  line-height: 1.2em;
  margin-top: 1.2em;
  margin-bottom: .6em;
}

/* jumbo */
.jumbo {
  padding: 2em 0;
  background-color: #2a303c;
  color: white;
}

/* about */
#about h2 {
    font-size: 1.17em;
}

/* util */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.clear-fix:after {
  content: " ";
  display: table;
  clear: both;
}



/* Adding fixes for responsive site*/

@media only screen and (max-width: 420px) {

    nav .mobile-trigger {
      display: inline-block;
      padding: 1.4em .7em;
      float: right;
      cursor: pointer;
    }

    nav ul {
       display: none;
       padding-left: 0;
    }

    #details {
      padding: 40px;
    }

    #curriculum .row {
      display: block;
    }

    #curriculum .col-4 {
      display: inline-block;
      width: 40%;
    }

    h1 {
      font-size: 1.5em;
    }
}

