/* colors */

/*

dark-grey:  #2a303c;
green:      #80bd01;
blue:       #6ea2c9;

*/

/* reset */
* {
  margin: 0;
}

/* nav */
nav {
  padding: 10px 0;
  min-height: 20px;
  background-color: #2a303c;
}

nav ul li {
  padding: 0 20px;
  color: white;
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
}

/* sections */
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.container--narrow {
  width: 60%;
}

.page-footer {
  background: #2a303c;
  color: white;
  padding: 1.4em 0;
  margin-top: 1.4em;
}

.btn {
  border: none;
  display: inline-block;
  background-color: #80bd01;
  color: white;
  font-size: 1em;
  padding: .7em 1em;
  cursor: pointer;
}

/* grid */
.row {
  display: table;
  table-layout: fixed;
  margin: 0 -.7em;
}

.col {
  display: table-cell;
  width: 1%;
  padding: .7em;
}

/* type */

html {
  font-size: 110%;
  line-height: 1.4em;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  margin-bottom: .7em;
}

h1, h2, h3 {
  line-height: 1.2em;
  margin-top: 1.2em;
  margin-bottom: .6em;
}

h1 {
  color: #80bd01;
  font-weight: normal;
}

@media all and (min-width: 800px) {
  h1 {
    font-size: 2.25em;
  }
}

h2 {
  color: #2a303c;
}

a {
  color: #6ea2c9;
  text-decoration: none;
}
/* jumbo */
.jumbo {
  padding: 2.8em 0;
  background-color: #f7f7f7;
}

/* util */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.clear-fix:after {
  content: " ";
  display: table;
  clear: both;
}
